
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/flyV.jpg" alt="kiss">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Complaints</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Hate Mail</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Love Letters</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <%= image_tag "https://kitt.lewagon.com/placeholder/users/s21385", id: "navbar-wagon-menu", class: "avatar dropdown-toggle", data: {toggle: "dropdown"}  %>

       <img src="https://kitt.lewagon.com/placeholder/users/mazavi" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Complaints</a></li>
          <li><a href="#">Insults</a></li>
          <li><a href="#">SCREAMS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
